/* General styles for the body and HTML */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Styling for the background and layout */
.bg.home {
    font-family: Arial, sans-serif;
    background-image: url("img.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container styling for quiz content */
.container {
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: #42464f; /* Container background color */
    border-radius: 8px;
    max-width: 60%;
}

/* Button Styling */

/* Base button styling */
.button {
    display: inline-block;
    width: 450px; /* Button width */
    padding: 10px 20px;
    background: linear-gradient(to right, #4dffaf, #357bbc); /* Gradient background */
    color: #2f0c0b; /* Button text color */
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 18px; /* Common border radius for rounded buttons */
    transition: background-color 0.3s ease;
}

/* Hover effect for base button */
.button:hover {
    background-color: #4882cd; /* Hover effect color */
}

/* Styling for the 'Reveal Answer' button */
.button-hideAfterClick {
    display: inline-block;
    width: 450px;
    padding: 10px 20px;
    background: linear-gradient(to right, #4dffaf, #357bbc); /* Gradient background */
    color: #2f0c0b;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.button-hideAfterClick:hover {
    background-color: #4882cd; /* Hover effect color */
}

/* Styling for the left button */
.button-left {
    display: inline-block;
    width: 70%; /* Width for left button */
    padding: 10px 20px;
    background: linear-gradient(to right, #fcc200, #ffbf00); /* Gradient background from blue to green */
    color: #2f0c0b;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 0.3s ease;
}

.button-left:hover {
    background-color: #4882cd; /* Hover effect color */
}

/* Styling for the right button */
.button-right {
    display: inline-block;
    width: 30%; /* Width for right button */
    padding: 10px 20px;
    background: linear-gradient(to right, #fcc200, #ffbf00); /* Gradient background from green to blue */
    color: #2f0c0b;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: background-color 0.3s ease;
}

.button-right:hover {
    background-color: #fccf3a; /* Hover effect color */
}

/* Styling for the pass button */
.button-pass {
    display: inline-block;
    width: 450px;
    padding: 10px 20px;
    background: linear-gradient(to right, #4dffaf, #357bbc); /* Gradient background */
    color: #2f0c0b;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.button-pass:hover {
    background-color: #fccf3a; /* Hover effect color */
}

/* Bottom container for timer */
.bottom-right-container {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    color: beige;
}

/* Group button styling */
.btn-group button {
    display: inline;
    height: 75px;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: left; /* Float buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Hidden class for hiding elements */
.hidden {
    display: none;
}
.container-rounds {
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: #000000;
    /* Container background color */
    border-radius: 8px;
    max-width: auto;
}

.button-back {
    display: inline-block;
    width: 450px;
    /* Button width */
    padding: 10px 20px;
    background: linear-gradient(to right, #fcc200, #ffbf00);
    /* Gradient background */
    color: #2f0c0b;
    /* Button text color */
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    /* Common border radius for rounded buttons */
    transition: background-color 0.3s ease;
}

/* Hover effect for base button */
.button-back:hover {
    background-color: #fccf3a;
    /* Hover effect color */
}