body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.bg.home {
    font-family: Arial, sans-serif;
    background-image: url("img.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    place-items: center;
    padding: 20px;
    background-color: #42464f; /* Container background color */
    border-radius: 8px;
    max-width: auto;
}

.button,
.button-hideAfterClick,
.button-left,
.button-right,
.button-pass {
    display: inline-block;
    width: 450px; /* Button width */
    padding: 10px 20px;
    background: linear-gradient(to right, #4dffaf, #357bbc); /* Gradient background */
    color: #2f0c0b; /* Button text color */
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 18px; /* Common border radius for rounded buttons */
    transition: background-color 0.3s ease;
}

.button-hideAfterClick:active {
    display: none;
}

.button-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button:hover,
.button-left:hover,
.button-right:hover,
.button-pass:hover {
    background-color: #4882cd; /* Hover effect color */
}

.bottom-right-container {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    color: beige;
    box-shadow: 30px 30px 10px rgba(22, 215, 8, 0.896);
}

.btn-group button {
    display: inline;
    height: 75px;
    background: linear-gradient(to right, #4dffaf, #357bbc); /* Gradient background */
    color: #2f0c0b; /* Button text color */
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: left; /* Float buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
