<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="highscores.css" />
  </head>
  <body>
    <div class="container.rules">
      <div id="highScores" class="flex-center flex-column">
        <h1 id="finalScore">RULES</h1>
        <ul id="highScoresList"></ul>
        <a class="btn rules" href="round1rules.html">Round 1 (General Round)</a>
        <a class="btn rules" href="round2rules.html">Round 2 (Mixed Bag)</a>
        <a class="btn rules" href="round3rules.html">Round 3 (Rapid Fire Round)</a>
        <a class="btn rules" href="round4rules.html">Round 4 (Buzzer Round))</a>
        <a class="btn rules" href="round5rules.html">Round 5 (Audio Visual Round)</a>
        <a class="btn rules" href="round6rules.html">Round 6 (Multiple Choice Round)</a>
        <a class="btn rules" href="round7rules.html">Round 7 (Recall Memory Round)</a>
        <a class="btn rules" href="round8rules.html">Round 8 (Mental Maths)</a>
        <a class="btn" href="index.html">Back</a>
      </div>
      <div class="container"><a class="btn" href="index.html">Back</a></div>
    </div>
    <script src="highscores.js"></script>
  </body>
</html>
