<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "style/styles.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Contest</title>
</head>
<style>
</style>
<body class="bg home" style="background-image:url('{% static "images/quiz.png" %}')">
    <div class="container">
        <h1>Welcome to the Joint School Quiz Contest</h1><h2 style="color:bisque;">Thursday, August 15, 2024</h2><br><br>
        <a href="{% url "round:main" %}" class="button">Start Joint School Quiz Contest</a>
        <a href="{% url "index" %}admin/" class="button">Admin Login </a>
    </div>
</body>
</html>
