<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules Round 4</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container.rules">
        <div id="home" class="flex-center flex-column">
            <h1>ROUND-4</h1><br>
            <h1>Rules for Buzzer Round</h1><br>

            <h3>1. There will be 6 questions in this round. Team pressing the buzzer first will be given the
                chance to answer.<br><br>
                2. 10 points will be awarded for each correct answer &amp; 5 points will be deducted for each
                incorrect answer.<br><br>
                3. Team will be given 15 seconds for each question.<br><br>
                4. The questions do not get passed on to the other teams.<br><br>
                5. The participants can respond to the questions only when the question is read completely.
                Interruption of any kind in between will lead to the cancellation of the question to the
                team.</h3><br><br>
        
            <div id="timeSelector">
              <a class="btn rules" href="game.html" onclick ="startTimer('Round4')"></button>START ROUND 4</a>
                <a class="btn rules" href="highscores.html">RULES</a>
            </div>
        </div>
    </div>
  </body>
</html>