<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules Round 7</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container.rules">
        <div id="home" class="flex-center flex-column">
            <h1>ROUND-7</h1><br>
            <h1>Rules for Recall Memory Round</h1><br>

            <h3>1. Every team will be shown a series of 7 words each.<br><br>
                2. Each word will be shown for 10 seconds.<br><br>
                3. After the series of words is finished, the team should recall the words in the order that
                is shown.<br><br>
                4. If a team answers the words in correct order, the team is awarded with 10 points. No
                points will be awarded if there is a break in the series of the words.<br><br>
                5. The questions in this round will not get passed.<br><br>
                6. The words displayed should not be jotted down by any means.</h3><br><br>
        
            <div>
                <a class="btn rules" href="game.html">START ROUND 7</a>
                <a class="btn rules" href="highscores.html">RULES</a>
            </div>
        </div>
    </div>
  </body>
</html>