<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules Round 8</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container.rules">
        <div id="home" class="flex-center flex-column">
            <h1>ROUND-8</h1><br>
            <h1>Rules for Multiple Choice Round</h1><br>

            <h3>1. Every team will be asked two MATHS questions with multiple choices.<br><br>
                2. Once the quiz master finishes reading the questions, the respondents will have
                5seconds to answer the questions.<br><br>
                3. If answered correctly, they will be awarded 5 marks for the correct answer.<br><br>
                4. No points will be deducted for wrong questions<br><br>
                5. Questions will not get passed onto other teams in this round.</h3><br><br>
        
            <div>
                <a class="btn rules" href="game.html">START ROUND 8</a>
                <a class="btn rules" href="highscores.html">RULES</a>
            </div>
        </div>
    </div>
  </body>
</html>