<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules Round 6</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container.rules">
        <div id="home" class="flex-center flex-column">
            <h1>ROUND-6</h1><br>
            <h1>Rules for Multiple Choice Round</h1><br>

            <h3>1. Every team will be asked two questions with multiple choices.<br><br>
                2. Once the quiz master finishes reading the questions, the respondents will have 15 seconds
                to answer the questions.<br><br>
                3. If answered correctly, they will be awarded 10 marks for the correct answer.<br><br>
                4. If answered incorrectly, 5 points will be deducted.<br><br>
                5. Questions unanswered will also be considered incorrect..</h3><br><br>
        
            <div>
                <a class="btn rules" href="game.html">START ROUND 6</a>
                <a class="btn rules" href="highscores.html">RULES</a>
            </div>
        </div>
    </div>
  </body>
</html>