<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Rounds</title>
    <link rel="stylesheet" href="{% static "style/styles.css" %}">
</head>
<body class="body" style="background-image:url({% static "images/img.png" %})">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="color: blanchedalmond; font-family:Segoe UI;">Quiz Rounds</h1><br><br>
        <div class="btn-group" style="width:100%">
        <a href="{% url "round:common" round='general_round' iter=round1%}"><button  onclick="startRound(1)" style="width:70%"class="button-left">Round 1<br>General Round</button></a><a href="{% url "rule" 1%}"><button href="{% url "rule" 1 %}" style="width:30%"class="button-right">Rules</button></a><br>
        </div><br>
        <div class="btn-group" style="width:100%">
      
            <a href="{% url "round:mix-main" %}"><button  onclick="startRound(2)" style="width:70%" class="button-left">Round 2<br>Mixed Bag</button></a> <a href="{% url "rule" 2%}"><button style="width:30%" class="button-right">Rules</button></a>
      
            
       
    </div><br>
        <div class="btn-group" style="width:100%">
        <a href="{% url "round:common" round='rapid_fire' iter=round3 %}"><button style="width:70%" onclick="startRound(3)" class="button-left">Round 3<br>Rapid Fire Round</button></a> <a href="{% url "rule" 3%}"><button style="width:30%" class="button-right">Rules</button></a>
    </div><br>
        <div class="btn-group" style="width:100%">
        <a href="{% url "round:common" round='buzzer' iter=round4%}"><button  style="width:70%" onclick="startRound(4)" class="button-left">Round 4<br>Buzzer Round</button></a> <a href="{% url "rule" 4%}"><button style="width:30%" class="button-right">Rules</button></a>
    </div><br>
        <div class="btn-group" style="width:100%">
        <a href={% url "round:common" round='audio_visual' iter=round5 %}><button style="width:70%" onclick="startRound(5)" class="button-left">Round 5<br>Audio Visual</button></a> <a href="{% url "rule" 5 %}"><button href="{% url "rule" 5 %}" style="width:30%" class="button-right">Rules</button></a>
    </div><br>
        <div class="btn-group" style="width:100%">
        <a href="{% url "round:multiple" pk=round6%}"><button style="width:70%" onclick="startRound(6)" class="button-left">Round 6<br>Multiple Choice</button></a> <a href="{% url "rule" 6%}"><button style="width:30%" class="button-right">Rules</button><br></a>
    </div><br>
        <div class="btn-group" style="width:100%">
        <a href="{% url "round:recall" pk=round7%}"><button class="button-left" style="width:70%">Round 7<br>Recall Your Memories</button></a> <a href="{% url "rule" 7 %}"><button style="width:30%" class="button-right">Rules</button><br></a>
        </div><br>
        <div class="btn-group" style="width:100%">
        <a href="{% url "round:common" round='mental_maths' iter=round8%}"><button class="button-left" style="width:70%">Round 8<br>Mental Maths</button></a> <a href="{% url "rule" 8 %}"><button style="width:30%" class="button-right">Rules</button><br></a>
        </div><br>
        <div class="btn-group" style="width:100%">
        <a href="{% url "index" %}"><button class="button">Back</button></a>
        </div><br>
    </div>

</body>
</html>
