<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Rounds</title>
    <link rel="stylesheet" href="{% static "style/styles.css" %}">
</head>
<body class="body">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="color: blanchedalmond; font-family:Segoe UI;">Quiz Rounds</h1><br><br>
        <a href="{% url "round:common" round='round1' iter=round1%}" onclick="startRound(1)" class="button">Round 1<a href=<br>General Round</a><br>
        <a href="{% url "round:mix-main"%}" onclick="startRound(2)" class="button">Round 2<br>Mixed Bag</a><br>
        <a href="{% url "round:common" round='round3' iter=round3%}" onclick="startRound(3)" class="button">Round 3<br>Rapid Fire Round</a><br>
        <a href="{% url "round:common" round='round4' iter=round4%}" onclick="startRound(4)" class="button">Round 4<br>Rapid Fire Round</a><br>
        <a href="{% url "round:auvis" pk=round5%}" onclick="startRound(5)" class="button">Round 5<br>Audio Visual</a><br>
        <a href="{% url "round:multiple" pk=round6%}" onclick="startRound(6)" class="button">Round 6<br>Multiple Choice</a><br>
        <a href="#" onclick="startRound(7)" class="button">Round 7<br>Recall Your Memories</a><br>
        <a href="#" onclick="startRound(8)" class="button">Round 8<br>Mental Maths</a><br>
        <a href="{% url "index"%}" class="button">Back</a>
    </div>

</body>
</html>
