<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules Round 5</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container.rules">
        <div id="home" class="flex-center flex-column">
            <h1>ROUND-5</h1><br>
            <h1>Rules for Audio-Visual</h1><br>

            <h3>1. Every team will be asked to identify a personality based on the audio or visual presented.<br><br>
                2. 10 points will be awarded for the correct answer.<br><br>
                3. Questions will not get passed on to the other teams.<br><br>
                4. The participants can respond to the questions only when the question is read completely.<br><br>
                Interruption of any kind in between will lead to the cancellation of the questions to the
                team.</h3><br><br>
        
            <div>
                <a class="btn rules" href="game.html">START ROUND 5</a>
                <a class="btn rules" href="highscores.html">RULES</a>
            </div>
        </div>
    </div>
  </body>
</html>