<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules Round 3</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container.rules">
        <div id="home" class="flex-center flex-column">
            <h1>ROUND-3</h1><br>
            <h1>Rules for Rapid Fire Round</h1><br>

            <h3>1. Each team will nominate a member from their team.<br><br>
                2. Nominated member will be given 35 seconds for 7 questions in this round.<br><br>
                3. 5 points will be awarded for each correct answer.<br><br>
                4. If the pronunciation of the answer is not understood by the panel of judges, the team may
                be requested to spell out their response.<br><br>
                5. The participants can respond to the questions only when the question is read completely.
                Interruption of any kind in between will lead to the cancellation of the question to the
                team.</h3><br><br>
        
            <div id="timeSelector">
                <a class="btn rules" href="game.html" onclick ="startTimer('Round3')"></button>START ROUND 3</a>
                <a class="btn rules" href="highscores.html">RULES</a>
            </div>
        </div>
    </div>
  </body>
</html>