<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rules Round 2</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container.rules">
        <div id="home" class="flex-center flex-column">
            <h1>ROUND-2</h1><br>
            <h1>Rules for Mixed Bag</h1><br>

            <h3>1. Each team will be given the opportunity to choose numbers from 1 to 6. Each
                number represents a particular field and questions will be based on that field.<br><br>
                2. Each team will be given 5 questions based on the particular field.<br><br>
                3. The teams will get 10 seconds to answer each question.<br><br>
                4. 5 points will be awarded for each correct answer and the questions DO NOT GET
                PASSED ON TO THE OTHER TEAMS.<br><br>
                5. The participants should be audible and clear when they respond to a question.
                Inaudibility, lack of clarity or confusion in answering the question will be taken as an
                incorrect response.<br><br>
                6. A team’s first response will be taken as their final answer.<br><br>
                7. If the pronunciation of the answer is not understood by the panel of judges, the
                team maybe requested to spell out their response.<br><br>
                8. The participants can respond to the questions only when the question is read
                completely. Interruption of any kind in between will lead to the cancellation of the
                question to the team.</h3><br><br>
        
            <div>
                <a class="btn rules" href="game.html">START ROUND 2</a>
                <a class="btn rules" href="highscores.html">RULES</a>
            </div>
        </div>
    </div>
  </body>
</html>