




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Round Rules</title>
</head>
<body class="body">
    <div class="container">
        <h1>Round 7</h1>
        <p>
            <h1>Rules for Recall Your Memories</h1><br>

            <h2>
                1. Every team will be shown a series of 7 words each.<br><br>
                2. Each word will be shown for 10 seconds.<br><br>
                3. After the series of words is finished, the team should recall the words in the order that
                is shown.<br><br>
                4. If a team answers the words in correct order, the team is awarded with 10 points. No
                points will be awarded if there is a break in the series of the words.<br><br>
                5. The questions in this round will not get passed.<br><br>
                6. The words displayed should not be jotted down by any means.
            </h2><br><br>
        </p>
        <a href="round2.html" class="button">Start Round 7</a>
        <a href="rounds.html" class="button">Back to Rounds</a>
    </div>
</body>
</html>
