




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Round Rules</title>
</head>
<body class="body">
    <div class="container">
        <h1>Round 5</h1>
        <p>
            <h1>Rules for Audio Visual</h1><br>
            
            <h2>1. Every team will be asked to identify a personality based on the audio or visual presented.<br><br>
            2. 10 points will be awarded for the correct answer.<br><br>
            3. Questions will not get passed on to the other teams.<br><br>
            4. The participants can respond to the questions only when the question is read completely.<br><br>
            Interruption of any kind in between will lead to the cancellation of the questions to the
            team.
            </h2><br><br>
        </p>
        <a href="round2.html" class="button">Start Round 5</a>
        <a href="rounds.html" class="button">Back to Rounds</a>
    </div>
</body>
</html>
