




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Round Rules</title>
</head>
<body class="body">
    <div class="container">
        <h1>Round 3</h1>
        <p>
            <h1>Rules for Rapid Fire</h1><br>

            <h2>1. Each team will nominate a member from their team.<br><br>
                2. Nominated member will be given 35 seconds for 7 questions in this round.<br><br>
                3. 5 points will be awarded for each correct answer.<br><br>
                4. If the pronunciation of the answer is not understood by the panel of judges, the team may
                be requested to spell out their response.<br><br>
                5. The participants can respond to the questions only when the question is read completely.
                Interruption of any kind in between will lead to the cancellation of the question to the
                team.
            </h2><br><br>
        </p>
        <a href="round2.html" class="button">Start Round 3</a>
        <a href="rounds.html" class="button">Back to Rounds</a>
    </div>
</body>
</html>
