




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Round Rules</title>
</head>
<body class="body">
    <div class="container">
        <h1>Round 4</h1>
        <p>
            <h1>Rules for Buzzer Round</h1><br>

            <h2>
                1. There will be 6 questions in this round. Team pressing the buzzer first will be given the
                chance to answer.<br><br>
                2. 10 points will be awarded for each correct answer &amp; 5 points will be deducted for each
                incorrect answer.<br><br>
                3. Team will be given 15 seconds for each question.<br><br>
                4. The questions do not get passed on to the other teams.<br><br>
                5. The participants can respond to the questions only when the question is read completely.
                Interruption of any kind in between will lead to the cancellation of the question to the
                team.
            </h2><br><br>
        </p>
        <a href="round2.html" class="button">Start Round 4</a>
        <a href="rounds.html" class="button">Back to Rounds</a>
    </div>
</body>
</html>
