




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Round Rules</title>
</head>
<body class="body">
    <div class="container">
        <h1>Round 6</h1>
        <p>
            <h1>Rules for Multiple Choice</h1><br>

            <h2>
                1. Every team will be asked two questions with multiple choices.<br><br>
                2. Once the quiz master finishes reading the questions, the respondents will have 15 seconds
                to answer the questions.<br><br>
                3. If answered correctly, they will be awarded 10 marks for the correct answer.<br><br>
                4. If answered incorrectly, 5 points will be deducted.<br><br>
                5. Questions unanswered will also be considered incorrect.
            </h2><br><br>
        </p>
        <a href="round2.html" class="button">Start Round 6</a>
        <a href="rounds.html" class="button">Back to Rounds</a>
    </div>
</body>
</html>
