




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Round Rules</title>
</head>
<body class="body">
    <div class="container">
        <h1>Round 8</h1>
        <p>
            <h1>Rules for Mental Maths</h1><br>

            <h2>1. Every team will be asked two MATHS questions with multiple choices.<br><br>
                2. Once the quiz master finishes reading the questions, the respondents will have
                5seconds to answer the questions.<br><br>
                3. If answered correctly, they will be awarded 5 marks for the correct answer.<br><br>
                4. No points will be deducted for wrong questions<br><br>
                5. Questions will not get passed onto other teams in this round.
            </h2><br><br>
        </p>
        <a href="round2.html" class="button">Start Round 8</a>
        <a href="rounds.html" class="button">Back to Rounds</a>
    </div>
</body>
</html>
