<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <style>
        /* Additional styling for answer reveal */
        .hidden {
            display: none;
        }
        .media-container {
            text-align: center;
        }
        .question-media {
            max-width: 100%; /* Adjust as needed */
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body class="body" style="background-image:url('{% static "images/quiz.png" %}')">
    <div class="container">
        <div class="media-container">
            {% if file_type == "image" and file != None %}
                <img src="{{ file }}" alt="Question Image" class="question-media">
            {% elif file_type == "video" and file != None %}
                <video controls class="question-media">
                    <source src="{{ file }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif file_type == "audio" and file != None %}
                <audio controls class="question-media">
                    <source src="{{ file }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            {% endif %}
        </div>
        <p id="question" style="font-size: 45px; color: antiquewhite;">{{ question }}</p>
        <button class="button-hideAfterClick" id="reveal_answer">Reveal Answer</button>
        <p id="answer" class="hidden" style="font-size: 30px; color: antiquewhite;">{{ answer }}</p>
        {% if iter < limit %}
            <a href="{% url 'round:common' round='audio_visual' iter=iter|add:'1' %}" class="button" id="next_question">Next Question</a>
        {% endif %}
        <a href="{% url 'round:main' %}" class="button" id="back_to_rounds">Back to Rounds</a>
    </div>
    <div class="bottom-right-container">
        <h2><p id="timer">Time left: <span id="countdown">15</span> seconds</p></h2>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var revealButton = document.getElementById('reveal_answer');
            var answer = document.getElementById('answer');
            var countdownElement = document.getElementById('countdown');
            var nextQuestionButton = document.getElementById('next_question');
            var backToRoundsButton = document.getElementById('back_to_rounds');

            var timeLeft = 15;
            // Initialize countdown timer
            var timer = setInterval(updateCountdown, 1000);

            function updateCountdown() {
                timeLeft--;
                countdownElement.textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(timer);
                }
                localStorage.setItem("remainingTime", timeLeft);
            }

            // Reveal answer logic
            revealButton.addEventListener('click', function() {
                answer.classList.remove('hidden');
                revealButton.style.display = 'none'; // Hide button after answer is revealed
            });

            // Save remaining time when navigating to the next question
            nextQuestionButton.addEventListener('click', function() {
                localStorage.setItem('remainingTime', timeLeft);
            });

            // Clear remaining time when navigating back to rounds
            backToRoundsButton.addEventListener('click', function() {
                localStorage.removeItem('remainingTime');
            });
        });
    </script>
</body>
</html>
