<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
</head>
<body class="body" style="background-image:url('{% static "images/quiz.png" %}')">
    <div class="container">
        {% if file != None %}
            <img src="{{file}}" alt="Question Image" class="question-image">
        {% endif %}
        <p id="question" style="font-size: 45px; color: antiquewhite;">{{ question }}</p>

        <!-- Button to reveal the answer -->
        <button class="button-hideAfterClick" id="reveal_answer">Reveal Answer</button>
         
        <p id="answer" class="hidden" style="font-size: 30px; color: antiquewhite;">{{ answer }}</p>
        
        <!-- Button to pass the question and add time -->
        <button class="button-pass" id="time">Pass Question</button>

        <!-- Button to navigate back to the rounds menu -->
        <a href="{% url 'round:general' %}" class="button" id="back_to_question">Back to Questions</a>
    </div>

    <!-- Timer display -->
    <div class="bottom-right-container">
        <h1><p id="timer">Time left: <span id="countdown">15</span> seconds</p></h1>
    </div>

    <!-- Buzzer sound -->
    <audio id="buzzer" src="{% static 'sounds/buzzer.mp3' %}" preload="auto"></audio>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var revealButton = document.getElementById('reveal_answer');
            var addTimeButton = document.getElementById('time');
            var answer = document.getElementById('answer');
            var countdownElement = document.getElementById('countdown');
            var buzzer = document.getElementById('buzzer');
            var nextQuestionButton = document.getElementById('next_question');
            var backToRoundsButton = document.getElementById('back_to_question');

            var timeLeft = 15;
            var additionalTime = 5;
            var timer;
            var timerRunning = false;

            function updateCountdown() {
                if (timeLeft > 0) {
                    timeLeft--;
                    countdownElement.textContent = timeLeft;
                    localStorage.setItem("remainingTime", timeLeft);
                } else {
                    clearInterval(timer);
                    buzzer.play();  // Play buzzer sound when time is over
                }
            }

            function toggleTimer() {
                if (timerRunning) {
                    clearInterval(timer);
                    timer = null;  // Set timer to null when stopped
                } else {
                    timer = setInterval(updateCountdown, 1000);
                }
                timerRunning = !timerRunning;
            }

            // Event listener for "T" key to toggle timer
            document.addEventListener('keydown', function(event) {
                if (event.key.toLowerCase() === 't') {
                    toggleTimer();
                }
            });

            // Reveal answer logic
            revealButton.addEventListener('click', function() {
                answer.classList.remove('hidden');
                answer.style.display = 'block'; // Ensure the answer is displayed
                revealButton.style.display = 'none'; // Hide button after answer is revealed
            });

            // Add time logic
            addTimeButton.addEventListener('click', function() {
                timeLeft += additionalTime;
                countdownElement.textContent = timeLeft;
                localStorage.setItem('remainingTime', timeLeft);
                if (timeLeft > 0 && timer === null) {
                    timer = setInterval(updateCountdown, 1000);
                }
            });

            // Save remaining time when navigating to the next question
            if (nextQuestionButton) {
                nextQuestionButton.addEventListener('click', function() {
                    localStorage.setItem('remainingTime', timeLeft);
                });
            }

            // Clear remaining time when navigating back to rounds
            backToRoundsButton.addEventListener('click', function() {
                localStorage.removeItem('remainingTime');
            });
        });
    </script>
</body>
</html>
