<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <style>
        .hidden {
            display: none;
        }
        .question-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body class="body" style="background-image:url('{% static "images/quiz.png" %}')">
    <div class="container">
        <h1>Welcome to the Quiz Contest</h1></br>
        <h2>Select a Round</h2></br>
        {% for round in subjects %}
            <button class="button round-button" data-round="{{ round }}">{{ round }}</button><br>
        {% endfor %}
    </div>
    <div class="bottom-right-container">
        <p id="timer">Time left: <span id="countdown">15</span> seconds</p>
    </div>
    <audio id="buzzer" src="{% static 'sounds/buzzer.mp3' %}" preload="auto"></audio>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var countdownElement = document.getElementById('countdown');
            var buzzer = document.getElementById('buzzer');
            var timeLeft = 15;

            // Initialize countdown timer
            var timer = setInterval(updateCountdown, 1000);

            function updateCountdown() {
                timeLeft--;
                countdownElement.textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(timer);
                    buzzer.play();  // Play buzzer sound when time is over
                }
                localStorage.setItem("remainingTime", timeLeft);
            }

            function hideSelectedButtons() {
                var selectedButtons = JSON.parse(localStorage.getItem('selectedButtons')) || [];
                selectedButtons.forEach(function(round) {
                    var button = document.querySelector(`button[data-round='${round}']`);
                    if (button) {
                        button.classList.add('hidden');
                    }
                });
            }

            hideSelectedButtons();

            // Button click logic
            document.querySelectorAll('.round-button').forEach(function(button) {
                button.addEventListener('click', function() {
                    var selectedRound = this.getAttribute('data-round');
                    this.textContent = `Your selected round is: ${selectedRound}`;
                    this.disabled = true;

                    var selectedButtons = JSON.parse(localStorage.getItem('selectedButtons')) || [];
                    if (!selectedButtons.includes(selectedRound)) {
                        selectedButtons.push(selectedRound);
                        localStorage.setItem('selectedButtons', JSON.stringify(selectedButtons));
                    }

                    setTimeout(function() {
                        window.location.href = `{% url 'round:mix' subject='' %}${selectedRound}/1`;
                    }, 5000);
                });
            });
        });
    </script>
</body>
</html>
