<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <style>
        .hidden {
            display: none;
        }
        .question-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body class="body" style="background-image:url('{% static "images/quiz.png" %}')">
    <div class="container">
        <h1>Welcome to the Quiz Contest</h1><br>
        <h2>Select a Round</h2><br>
        {% for round in subjects %}
            <button class="button round-button" data-round="{{ round }}">{{ forloop.counter }}</button><br>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Button click logic for rounds
            document.querySelectorAll('.round-button').forEach(function(button) {
                button.addEventListener('click', function() {
                    var selectedRound = this.getAttribute('data-round');
                    this.textContent = `${selectedRound}`;
                    this.disabled = true;

                    setTimeout(function() {
                        window.location.href = `{% url 'round:mix-main' %}${selectedRound}/1`;
                    }, 5000);
                });
            });
        });
    </script>
</body>
</html>
