<script>
    document.addEventListener('DOMContentLoaded', function () {
        var revealButton = document.getElementById('reveal_answer');
        var answer = document.getElementById('answer');
        var countdownElement = document.getElementById('countdown');
        var nextQuestionButton = document.getElementById('next_question');
        var backToRoundsButton = document.getElementById('back_to_rounds');
        var buzzerSound = document.getElementById('buzzer-sound');

        var initialTime = 15; // Initial time value
        var timeLeft = initialTime;
        var timerRunning = false;
        var timerInterval = null;

        function updateCountdown() {
            timeLeft--;
            countdownElement.textContent = timeLeft;
            if (timeLeft <= 0) {
                stopTimer();
                buzzerSound.play(); // Play buzzer sound when time's up
                console.log("Time's up!");
            }
            localStorage.setItem("remainingTime", timeLeft);
        }

        function startTimer() {
            if (!timerRunning) {
                timerInterval = setInterval(updateCountdown, 1000);
                timerRunning = true;
                console.log("Timer started.");
            }
        }

        function stopTimer() {
            if (timerRunning) {
                clearInterval(timerInterval);
                timerInterval = null;
                timerRunning = false;
                console.log("Timer stopped.");
            }
        }

        function resetTimer() {
            stopTimer();
            timeLeft = initialTime;
            countdownElement.textContent = timeLeft;
            localStorage.removeItem('remainingTime');
        }

        document.addEventListener('keydown', function (event) {
            if (event.key === 't') {
                console.log("T pressed");
                if (timerRunning) {
                    stopTimer();
                } else {
                    startTimer();
                }
            }
        });

        backToRoundsButton.addEventListener('click', function () {
            stopTimer();
            localStorage.removeItem('remainingTime');
        });

        revealButton.addEventListener('click', function () {
            answer.classList.remove('hidden');
            answer.style.display = 'block';
            revealButton.style.display = 'none';
        });

        nextQuestionButton.addEventListener('click', function () {
            resetTimer(); // Reset the timer when moving to the next question
        });

        // Initialize timer state
        if (localStorage.getItem("remainingTime")) {
            timeLeft = parseInt(localStorage.getItem("remainingTime"), 10);
            countdownElement.textContent = timeLeft;
            startTimer();
        } else {
            countdownElement.textContent = timeLeft; // Set initial time
        }
    });
</script>
