<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Quiz Contest</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1, h2 {
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: #007BFF;
            font-size: 18px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Quiz Contest</h1>
    <h2>Select a Round</h2>
    <ul>
        {% for round in subjects %}
            <li><button><a href="{% url 'round:mix' subject=round iter=1%}">{{ round }}</a></button></li>
        {% endfor %}    
    </ul>
</body>
</html>
