<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <style>
        .hidden {
            display: none;
        }
        .question-image, .question-audio {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        .option {
            display: block;
            margin: 10px 0;
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            cursor: pointer;
        }
        .correct {
            background-color: green;
            color: white;
        }
        .incorrect {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body class="body" style="background-image:url('{% static "images/quiz.png" %}')">
    <div class="container">
        {% if question_type == 'image' and file %}
            <img src="{{file}}" alt="Question Image" class="question-image">
        {% elif question_type == 'audio' and file %}
            <audio controls class="question-audio">
                <source src="{{file}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        {% else %}
            <p id="question" style="font-size: 45px; color: antiquewhite;">{{ question }}</p>
        {% endif %}
        
        <div id="options">
            {% for option in choi %}
                <div class="option" data-option="{{ option }}">{{ option }}</div>
            {% empty %}
                <p>No options available</p>
            {% endfor %}
        </div>
        <p id="result" class="hidden" style="font-size: 30px; color: antiquewhite;">{{ answer }}</p>
        {% if iter < limit %}
            <a href="{% url 'round:common' round='general_round' iter=iter|add:'1' %}" class="button" id="next_question">Next Question</a>
        {% endif %}
        <a href="{% url 'round:main' %}" class="button" id="back_to_rounds">Back to Rounds</a>
    </div>
    <div class="bottom-right-container">
        <p id="timer">Time left: <span id="countdown">15</span> seconds</p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var options = document.querySelectorAll('.option');
            var result = document.getElementById('result');
            var countdownElement = document.getElementById('countdown');
            var nextQuestionButton = document.getElementById('next_question');
            var backToRoundsButton = document.getElementById('back_to_rounds');

            var correctAnswer = "{{ answer }}";
            var timeLeft = 15;
            var timer = setInterval(updateCountdown, 1000);

            function updateCountdown() {
                if (timeLeft > 0) {
                    timeLeft--;
                    countdownElement.textContent = timeLeft;
                    localStorage.setItem("remainingTime", timeLeft);
                } else {
                    clearInterval(timer);
                }
            }

            options.forEach(function(option) {
                option.addEventListener('click', function() {
                    if (option.getAttribute('data-option') === correctAnswer) {
                        option.classList.add('correct');
                        result.textContent = 'Correct!';
                    } else {
                        option.classList.add('incorrect');
                        result.textContent = 'Incorrect!';
                    }
                    result.classList.remove('hidden');
                    options.forEach(function(opt) {
                        opt.style.pointerEvents = 'none';
                    });
                });
            });

            // Save remaining time when navigating to the next question
            nextQuestionButton.addEventListener('click', function() {
                localStorage.setItem('remainingTime', timeLeft);
            });

            // Clear remaining time when navigating back to rounds
            backToRoundsButton.addEventListener('click', function() {
                localStorage.removeItem('remainingTime');
            });
        });
    </script>
</body>
</html>
