<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buzzer Round</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    document.getElementById("quiz_form").submit();
                }
            }, 1000);
        }

        window.onload = function () {
            var thirtyFiveSeconds = 35,
                display = document.querySelector('#time');
            startTimer(thirtyFiveSeconds, display);
        };
    </script>
</head>
<body>
    <h1>Quiz</h1>
    <form id="quiz_form" method="POST">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <p>{{ question.question_text }}</p>
                <input type="text" name="question_{{ forloop.counter0 }}">
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <div>Time left: <span id="time">00:35</span></div>
</body>
</html>
